*.gem
.bundle
.env
node_modules
package-lock.json

#bower bloat
lib/problem_child/public/vendor/bootstrap/grunt
lib/problem_child/public/vendor/bootstrap/less
lib/problem_child/public/vendor/bootstrap/test-infra
lib/problem_child/public/vendor/jquery/src
